/*Modificaciones Generales*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
@font-face{
	font-family: "poppins";
	src:url(../FONTS/Poppins/Poppins-Light.ttf);
}
@font-face{
	font-family: "lobster";
	src:url(../FONTS/Lobster/Lobster-Regular.ttf);
}
@font-face {
  	font-family: 'FontAwesome';
  	src: url('../font/fontawesome-webfont.eot?v=3.0.1');
  	src: url('../font/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff?v=3v=3.0.1') format('woff'),
    url('../font/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  	font-weight: normal;
  	font-style: normal;
}
body{
	/*background: #bebcc0;*/
	font-family: "poppins";
    box-sizing: border-box;
    background-color: #e8e8e8;
    
}

.papa{
    width: 95%;
    height: auto;
    margin: auto;
    background: #fff;
}

header{
	width: 95%;
	margin: auto;
}

header  .navsuperior{
    display: flex; 
    justify-content: center;
    background-color: rgba(0,0,0,.85);
    
}

header  .navsuperior  a{
    display: table;
    text-decoration: none;
    color: #fff;
    float: left;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin: 10px 5px 10px 5px;
    box-sizing: border-box;
}

header .navsuperior a:hover{
    background: rgba(0,255,255,.3);
    transition-duration: 0.7s;
}

header .navinferior {
    display: flex;
    background: #3c918c;
	/*overflow: hidden;*/
    list-style: none;
}

header .navinferior  a{
    display: table;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

header .navinferior{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

header .infe:hover{
    background: rgba(200,255,255,.4);
    transition: all 0.7s;
}

.icon-user-o {
    float: right;
    background: #151616;
    border-right: 1px solid #fff;
}

.icon-user-o:hover{
    background: #555;
    transition-duration: 0.7s;
}

.register {
    float: right;
    background: #151616;
    border-right: 1px solid #fff;
}

.register:hover{
    background: #555;
    transition-duration: 0.7s;
}

.wraper,{
	width: 100%;
	margin: auto;
} 

/*Fin modificaciones generales*/
/*Modificaciones Header*/
.contenedor{
	background-image: url(../IMG/textura.jpg);
}

/*.filtro{
	width: 100%;
	height: 300px;
	background-color: rgba(0,0,0,.6);
	float: left;
}*/

.logosuperior{
	height: 200px;
	padding: 20px;
	background-color: rgba(0,0,0,.85);
	text-align:center;
}

.logodegrade{
	width: 100px;
	margin: 10px;
}

.nombredegrade{
	width: 200px;
}
/*Fin modificaciones header*/


/*Modificaiones Wraper*/

.wraper{
	padding: 0px;
	background-color: #0078a5;
}

.main1{
	background-image: url(../IMG/hotele.jpg);
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: center;
	height: 500px;
}

.separador{
	height: 350px;
	background-color: #e8e8e8;
	padding: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.sp1text1{
	margin: auto;
	width: 700px;
}

.sp1text2{
	margin: auto;
    width: 650px;
}

.sp1text3{
    color: #164f4b;
	margin: auto;
    padding: 10px;
	width: 600px;
}

.sp1bt1{
	background-color: #000;
	font-family: "poppins";
	font-size: 20px;
	color: #fff;
	border: 2px solid #000;
	padding: 5px 10px;
	border-radius: 5px;
    margin-top: 10px;
	/*position: relative;*/

}

.sp1bt1:hover{
	background-color: rgba(0,0,0,0);
    transition: all 0.9s;
    color: #000;
}

.main2{
	background-image: url(../IMG/spa.jpeg);
	height: 500px;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;	
}

.lateral1{
	float: left;
	background-color: rgba(0,0,0,.7);
	height: 500px;
	width: 400px;
	padding: 10px;
	font-family: "poppins";
	color: #fff;
    text-align: center;
}

.book{
	background-color: #000;
    font-family: "poppins";
    font-size: 20px;
    color: #fff;
    border: 2px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    top: 150px;

}

.book:hover{
	background-color: rgba(255,255,255,.3);
    transition: all 0.5s;
    color: #000;

}

.lateral2{
	float: right;
	background-color: rgba(0,0,0,.9);
	height: 500px;
	width: 400px;
	padding: 10px;
	margin: 0px;
	border: 0px;
	font-family: "poppins";
	color: #fff;
}


.nombre1{
	width: 80px;
	margin-top: 10px;
	margin-left: 5px;
}

.mapa{
	width: 100%;
	height: 500px;
}

.maps{
	width: 100%;
	height: 500px;
}

.main3{
	background-image: url(../IMG/ing.jpg);
	height: 500px;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
    
}

.lateral3{
	float: left;
	background-color: rgba(0,0,0,.7);
	height: 500px;
	width: 500px;
	padding: 10px;
	margin: 0px;
	border: 0px;
	font-family: "poppins";
	color: #fff;
    /*text-align: center;*/
}
.sp1bt1{
    
    /*position: relative;*/

}

.sp1bt1:hover{
    
}

.mn3bt1{
    background-color: #000;
    font-family: "poppins";
    font-size: 15px;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    top: 9px;
    left: 167px
}

.mn3bt1:hover{
    background-color: rgba(255,255,255,.4);
    transition: all 0.7s;
    border: 2px solid #000;
    color: #000;
    /*
	background-color: rgba(255,255,255,.6);
    transition: all 0.7s;
    border: 2px solid #000;
    color: #000;*/
}

h2{
    text-align: center;
    margin-top: 50px;
}

.lateral1 p{
    margin-top: 50px;
    text-align: center;
}

.lateral2 p{
    margin-top: 50px;
    text-align: center;
} 

.lateral3 p{
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
}
 
     /* PARTE DE AYUDA*/

.foot{
    display: flex;
    width: 95%;  
    height: 600px;
    padding: 40px 15px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #3c918c;
    
    /*background: #3c918c;*/
    border-bottom: 5px solid #000;
}

.foot .negrita{
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
   
}

.left{
    text-align: center;
    color: #fff;
    margin-top: 25px;
}

        /* FIN PARTE DE AYUDA*/

 /* INICIO PARTE FORMULARIO DE CONTACTO*/

.right{
    margin: 40px auto;       
}

.right h2{
    color: #fff;
    margin-bottom: 30px;
    margin-top: -1px
}

.right h4{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.right h4 span{
    color: aqua;
}

form{
    width: 600px;
    margin: auto;
    height: auto;
    background: rgba(0,0,0,.6);
    padding: 20px 30px; 
    border-radius: 5px;
}

input, textarea{
    width: 100%;
    margin-bottom: 25px;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
    border: none;   
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

textarea, placeholder{
    font-family: sans-serif;
}

#boton{
    width: 30%;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 15px;
    border: 1px solid #fff;
    cursor: pointer; 
    margin: auto;
}

#boton:hover{
    background: rgba(255,255,255,.6);
    border: 1px solid #000;
    color: #000;
    transition: all 0.5s;
}


    /* FIN PARTE FORMULARIO DE CONTACTO*/

    /* INICIO FOOTER*/

footer{
    width: 95%;
	margin: auto;
	height: auto;
	background-color: #e8e8e8;
	padding: 10px;
	text-align: center;
    border-top: 5px solid #000 inset;
}

footer .icon-facebook-circled, .icon-twitter-circled, .icon-gplus-circled {
    font-size: 30px;
    color: #000;
    text-decoration: none;
}
    /* FIN FOOTER */
